<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HydroDesktop.DataDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HydroDesktop.DataDownload.Properties.Settings>
            <setting name="WebServicesFileName" serializeAs="String">
                <value>WebServices.xml</value>
            </setting>
            <setting name="WebServiceListUpdateInMinutes" serializeAs="String">
                <value>120</value>
            </setting>
        </HydroDesktop.DataDownload.Properties.Settings>
    </userSettings>
</configuration>