<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HydroDesktop.Search.Properties.Settings>
            <setting name="ontologyFilename" serializeAs="String">
                <value>getOntologyTree.xml</value>
            </setting>
            <setting name="synonymsFilename" serializeAs="String">
                <value>Synonyms.xml</value>
            </setting>
            <setting name="WebServiceListUpdateInMinutes" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SearchResultName" serializeAs="String">
                <value>searchresult.shp</value>
            </setting>
            <setting name="SearchMethod_HISCentral" serializeAs="String">
                <value>HIS Central</value>
            </setting>
            <setting name="SearchMethod_MetadataCache" serializeAs="String">
                <value>Local Metadata Cache</value>
            </setting>
            <setting name="WebServicesFileName" serializeAs="String">
                <value>WebServices.xml</value>
            </setting>
            <setting name="SearchResultNameMask" serializeAs="String">
                <value>searchresult_{0}.shp</value>
            </setting>
        </HydroDesktop.Search.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
