<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
  </appSettings>

  <log4net>
    <appender name="fileAppender" type="log4net.Appender.FileAppender">
      <file value="OpenMI.log"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M - %message%newline"/>
      </layout>
    </appender>

    <appender name="listViewLogAppender" type="Oatc.OpenMI.Gui.Core.LogWindowAppender, Oatc.OpenMI.Gui.Core"/>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="fileAppender"/>
      <appender-ref ref="listViewLogAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
