<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <ExchangeItems>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Coweeta Streamflow</ID>
        <Description>Coweeta watershed, NC</Description>
         <ShapefilePath>..\..\data\gis\weir18.shp</ShapefilePath>
      </ElementSet>
      <Quantity>
        <ID>Runoff</ID>
        <Description>Runoff per unit area</Description>
        <Dimensions>
          <Dimension>
            <Base>L</Base>
            <Power>1</Power>
          </Dimension>
          <Dimension>
            <Base>T</Base>
            <Power>-1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>mm/day</ID>
          <Description>millimeters per day</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <InputExchangeItem>
      <ElementSet>
        <ID>Coweeta Precipitation</ID>
        <Description>Coweeta watershed, NC</Description>
         <ShapefilePath>..\..\data\gis\climateStation.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Precipitation</ID>
        <Description>Rainfall</Description>
        <Dimensions>
          <Dimension>
            <Power>1</Power>
            <Base>Length</Base>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>mm</ID>
          <Description>millimeters</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
    <InputExchangeItem>
      <ElementSet>
        <ID>Coweeta</ID>
        <Description>Coweeta watershed in NC</Description>
         <ShapefilePath>..\..\data\gis\coweeta_18.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>PET</ID>
        <Description>Potential Evapotranspiration</Description>
        <Dimensions>
          <Dimension>
            <Power>1</Power>
            <Base>Length</Base>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>mm</ID>
          <Description>millimeters</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
  </ExchangeItems>
  <TimeHorizon>
    <StartDateTime>01/05/2008 12:00:00 AM</StartDateTime>
    <EndDateTime>01/01/2009 12:00:00 AM</EndDateTime>
    <TimeStepInSeconds>86400</TimeStepInSeconds>
  </TimeHorizon>
  <ModelInfo>
    <ID>TopModel</ID>
    <Description>Topographic rainfall runoff Model </Description>
  </ModelInfo>
</Configuration>