<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Configuration>
  <ExchangeItems>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Test Location</ID>
        <Description>Example 6.15 in Water Resources Engineering, David A. Chin</Description>
        <ShapefilePath>..\..\..\data\gis\elements.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Pe</ID>
        <Description>Excess</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>mm</ID>
          <Description>millimeters</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    
    
    <OutputExchangeItem>
      <ElementSet>
        <ID>Test Location</ID>
        <Description>Example 6.15 in Water Resources Engineering, David A. Chin</Description>
        <ShapefilePath>..\..\..\data\gis\elements.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>F</ID>
        <Description>total Infiltration</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>mm</ID>
          <Description>millimeters</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    
    
    <InputExchangeItem>
      <ElementSet>
        <ID>Test Location</ID>
        <Description>Example 6.15 in Water Resources Engineering, David A. Chin</Description>
        <ShapefilePath>..\..\..\data\gis\elements.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>P</ID>
        <Description>Rainfall</Description>
        <Dimensions>
          <Dimension>
            <Power>1</Power>
            <Base>Length</Base>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>mm/h</ID>
          <Description>millimeters per hour</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
  </ExchangeItems>
  <TimeHorizon>
    <StartDateTime>05/29/2009 1:00:00 </StartDateTime>
    <EndDateTime>05/29/2009 2:00:00 </EndDateTime>
    <TimeStepInSeconds>600</TimeStepInSeconds>
  </TimeHorizon>
  <ModelInfo>
    <ID>GreenAmpt Infiltration</ID>
    <Description>none</Description>
  </ModelInfo>
</Configuration>
