<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HydroDesktop.Plugins.Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HydroDesktop.Plugins.Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <HydroDesktop.Plugins.Search.Properties.Settings>
            <setting name="HISCENTRAL_URL" serializeAs="String">
                <value>http://hiscentral.cuahsi.org/webservices/hiscentral_1_1.asmx</value>
            </setting>
        </HydroDesktop.Plugins.Search.Properties.Settings>
    </userSettings>
    <applicationSettings>
      <HydroDesktop.Plugins.Search.Properties.Settings>
            <setting name="TypeOfCatalog" serializeAs="String">
                <value>HisCentral</value>
            </setting>
            <setting name="WebServicesFileName" serializeAs="String">
                <value>WebServices.xml</value>
            </setting>
            <setting name="SynonymsFilename" serializeAs="String">
                <value>Resources\Synonyms.xml</value>
            </setting>
            <setting name="OntologyFilename" serializeAs="String">
                <value>Resources\OntologyTree.xml</value>
            </setting>
            <setting name="SearchResultNameMask" serializeAs="String">
                <value>searchresult_{0}_{1}.shp</value>
            </setting>
            <setting name="HISCENTRAL_URL_1" serializeAs="String">
                <value>http://hiscentral.cuahsi.org/webservices/hiscentral_1_1.asmx</value>
            </setting>
            <setting name="HISCENTRAL_URL_2" serializeAs="String">
                <value>http://water.sdsc.edu/hiscentral/webservices/hiscentral.asmx</value>
            </setting>
        </HydroDesktop.Plugins.Search.Properties.Settings>
    </applicationSettings>
</configuration>