<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Configuration>
  <ExchangeItems>
    <OutputExchangeItem>
      <ElementSet>
        <ID>SC_NC Study</ID>
        <Description>Net Solar Radiation</Description>
        <ShapefilePath>./data/SRgauges.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Net Solar Radiation</ID>
        <Description>Net Radiation</Description>
        <Dimensions>
          <Dimension>
            <Base>kilojule</Base>
            <Power>1</Power>
          </Dimension>
          <Dimension>
            <Base>meter</Base>
            <Power>-2</Power>
          </Dimension>
          <Dimension>
            <Base>hour</Base>
            <Power>-1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>MJ/m2/day</ID>
          <Description>Megajoule per square meter per day</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <InputExchangeItem>
      <ElementSet>
        <ID>SC_NC Study</ID>
        <Description>Dew Point Temperature of the gauge</Description>
        <ShapefilePath>./data/SRgauges.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Dew Point Temperature</ID>
        <Description>Dew Point Temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
    <InputExchangeItem>
      <ElementSet>
        <ID>SC_NC Study</ID>
        <Description>Maximum Temperature of the gauge</Description>
        <ShapefilePath>./data/SRgauges.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Maximum Temperature</ID>
        <Description>Maximum Temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
    <InputExchangeItem>
      <ElementSet>
        <ID>SC_NC Study</ID>
        <Description>Minimum Temperature of the gauge</Description>
        <ShapefilePath>./data/SRgauges.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Minimum Temperature</ID>
        <Description>Minimum Temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
    <InputExchangeItem>
      <ElementSet>
        <ID>SC_NC Study</ID>
        <Description>Minimum Temperature of the gauge for next day</Description>
        <ShapefilePath>./data/SRgauges.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Minimum Temperature in Advance</ID>
        <Description>Maximum Temperature for next day</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
    <InputExchangeItem>
      <ElementSet>
        <ID>SC_NC Study</ID>
        <Description>Monthly average daily temprature range of the gauge</Description>
        <ShapefilePath>./data/SRgauges.shp</ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Monthly average daily temp range</ID>
        <Description>Monthly average daily temprature range</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </InputExchangeItem>
  </ExchangeItems>
  <TimeHorizon>
    <StartDateTime>01/01/1982</StartDateTime>
    <EndDateTime>12/31/1983</EndDateTime>
    <TimeStepInSeconds>86400</TimeStepInSeconds>
  </TimeHorizon>
  <ModelInfo>
    <ID>Solar Radiation</ID>
    <Description>This model calculates net solar radiation in megajoule per square meter per day</Description>
  </ModelInfo>
</Configuration>
