<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FacetedSearch3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FacetedSearch3.Properties.Settings>
            <setting name="TypeOfCatalog" serializeAs="String">
                <value>HisCentral</value>
            </setting>
            <setting name="WebServicesFileName" serializeAs="String">
                <value>WebServices.xml</value>
            </setting>
            <setting name="SynonymsFilename" serializeAs="String">
                <value>Resources\Synonyms.xml</value>
            </setting>
            <setting name="OntologyFilename" serializeAs="String">
                <value>Resources\OntologyTree.xml</value>
            </setting>
            <setting name="SearchResultNameMask" serializeAs="String">
                <value>searchresult_{0}.shp</value>
            </setting>
        </FacetedSearch3.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_MultiFacetedHISSvc" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_MultiFacetedHISSvc1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://abedigCUAHSI-PC/FacetedSearch/MultiFacetedHISSvc.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MultiFacetedHISSvc"
        contract="FacetedSearch3.CUAHSIFacetedSearch.MultiFacetedHISSvc"
        name="BasicHttpBinding_MultiFacetedHISSvc" />
      <endpoint address="http://cuahsi.eecs.tufts.edu/FacetedSearch/MultiFacetedHISSvc.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MultiFacetedHISSvc1"
        contract="CUAHSIFacetedSearch.MultiFacetedHISSvc" name="BasicHttpBinding_MultiFacetedHISSvc1" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FacetBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <bufferedReceive maxPendingMessagesPerChannel="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
