<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="HISCENTRAL_URL_1" value="http://hiscentral.cuahsi.org/webservices/hiscentral_1_1.asmx"/>
    <add key ="HISCENTRAL_URL_2" value="http://water.sdsc.edu/hiscentral/webservices/hiscentral.asmx"/>
    <add key ="HISCENTRAL_CUSTOM" value="Type-in the Custom URL here..."/>
  </appSettings>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Search3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Search3.Properties.Settings>
      <setting name="TypeOfCatalog" serializeAs="String">
        <value>HisCentral</value>
      </setting>
      <setting name="WebServicesFileName" serializeAs="String">
        <value>WebServices.xml</value>
      </setting>
      <setting name="SynonymsFilename" serializeAs="String">
        <value>Resources\Synonyms.xml</value>
      </setting>
      <setting name="OntologyFilename" serializeAs="String">
        <value>Resources\OntologyTree.xml</value>
      </setting>
      <setting name="SearchResultNameMask" serializeAs="String">
        <value>searchresult_{0}_{1}.shp</value>
      </setting>
    </Search3.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>