<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="HISCENTRAL_URL_1" value="http://hiscentral.cuahsi.org/webservices/hiscentral_1_1.asmx"/>
    <add key ="HISCENTRAL_URL_2" value="http://water.sdsc.edu/hiscentral/webservices/hiscentral.asmx"/>
    <add key ="HISCENTRAL_CUSTOM" value="Type-in the Custom URL here..."/>
  </appSettings>
</configuration>