<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Plugins.ExtensionManager" version="1.0.1137" />
  <package id="DotSpatial.Plugins.MenuBar" version="1.0.1137" />
  <package id="DotSpatial.Plugins.Ribbon" version="0.12.4.30" />
  <package id="DotSpatial.Plugins.SplashScreenManager" version="0.12.4.30" />
  <package id="DotSpatial.ProjectTemplate" version="1.1.5" />
</packages>