<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Plugins.ExtensionManager" version="1.0.1130" />
  <package id="DotSpatial.Plugins.MenuBar" version="1.0.1130" />
  <package id="DotSpatial.Plugins.Ribbon" version="0.12.2.10" />
  <package id="DotSpatial.Plugins.SplashScreenManager" version="0.12.2.10" />
</packages>