<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="0.6.4" targetFramework="net40" />
  <package id="DotSpatial.Plugins.AttributeDataExplorer" version="1.4.24" targetFramework="net40" />
  <package id="DotSpatial.Plugins.Ribbon" version="1.4.24" targetFramework="net40" />
  <package id="DotSpatial.Plugins.WebMap" version="1.0.1185" targetFramework="net40" />
</packages>