<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Configuration>
  <ExchangeItems>
    <OutputExchangeItem>
      <ElementSet>
        <ID>TempMinNextDay</ID>
        <Description>Minimum Temperature of the gauge for next day</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Minimum Temperature NextDay</ID>
        <Description>Minimum Temperature for next day</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>MonthlyAvTempRan</ID>
        <Description>Monthly mean dailly range of air temperature of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Monthly Average Temp Range</ID>
        <Description>Monthly mean dailly range of air temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>StationID</ID>
        <Description>gage IDs</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>StID</ID>
        <Description>Station_Identities</Description>
        <Dimensions>
          <Dimension>
            <Base></Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>unitless</ID>
          <Description>unitless</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Lat</ID>
        <Description>Latitude of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Latitude</ID>
        <Description>Latitude</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>Degree</ID>
          <Description>Degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Lon</ID>
        <Description>Longitude of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Longitude</ID>
        <Description>Longitude</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>Degree</ID>
          <Description>Degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Elev</ID>
        <Description>Elevation of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Elevation</ID>
        <Description>Elevation</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>m</ID>
          <Description>meter</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Temp</ID>
        <Description>Temperature of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Temperature</ID>
        <Description>Temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>TempDew</ID>
        <Description>Dew Point Temperature of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Dew Point Temperature</ID>
        <Description>Dew Point Temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>TempMax</ID>
        <Description>Maximum Temperature of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Maximum Temperature</ID>
        <Description>Maximum Temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>TempMin</ID>
        <Description>Minimum Temperature of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Minimum Temperature</ID>
        <Description>Minimum Temperature</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>C</ID>
          <Description>degree</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Wind</ID>
        <Description>wind speed of the gauge</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>wind speed</ID>
        <Description>wind speed</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
          <Dimension>
            <Base>Time</Base>
            <Power>-1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>m/s</ID>
          <Description>meter/second</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
    <OutputExchangeItem>
      <ElementSet>
        <ID>Date</ID>
        <Description>Date</Description>
        <ShapefilePath></ShapefilePath>
        <Version>1</Version>
      </ElementSet>
      <Quantity>
        <ID>Date</ID>
        <Description>Date</Description>
        <Dimensions>
          <Dimension>
            <Base>Length</Base>
            <Power>1</Power>
          </Dimension>
        </Dimensions>
        <Unit>
          <ID>Time</ID>
          <Description>day</Description>
          <ConversionFactorToSI>1</ConversionFactorToSI>
          <OffSetToSI>0</OffSetToSI>
        </Unit>
        <ValueType>Scalar</ValueType>
      </Quantity>
    </OutputExchangeItem>
  </ExchangeItems>
  <TimeHorizon>
    <StartDateTime>01/01/1982</StartDateTime>
    <EndDateTime>12/31/1983</EndDateTime>
    <TimeStepInSeconds>86400</TimeStepInSeconds>
  </TimeHorizon>
  <ModelInfo>
    <ID>Read Input Files</ID>
    <Description>This component Read PET(potantial evapotranspiration) Inputs in wtmp format</Description>
  </ModelInfo>
</Configuration>
