<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HydroDesktop.Properties.Settings>
            <setting name="defaultHISCentralURL" serializeAs="String">
                <value>http://hiscentral.cuahsi.org/webservices/hiscentral.asmx</value>
            </setting>
            <setting name="hisCentralURLList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://hiscentral.cuahsi.org/webservices/hiscentral.asmx</string>
                        <string>http://water.sdsc.edu/hiscentral/webservices/hiscentral.asmx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="defaultProjectDirectory" serializeAs="String">
                <value>projects\default</value>
            </setting>
            <setting name="ApplicationDirectoryName" serializeAs="String">
                <value>HydroDesktop</value>
            </setting>
            <setting name="DefaultDatabaseName" serializeAs="String">
                <value>default.sqlite</value>
            </setting>
            <setting name="DefaultMetadataCacheName" serializeAs="String">
                <value>MetadataCache.sqlite</value>
            </setting>
            <setting name="DownloadOption" serializeAs="String">
                <value>Append</value>
            </setting>
        </HydroDesktop.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HydroDesktop.Properties.Settings>
            <setting name="DefaultHDProjectName" serializeAs="String">
                <value>default.hdprj</value>
            </setting>
            <setting name="settingsFileName" serializeAs="String">
                <value>settings.xml</value>
            </setting>
            <setting name="TempDirectoryName" serializeAs="String">
                <value>HydroDesktop</value>
            </setting>
        </HydroDesktop.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
