<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Configuration>
	<ExchangeItems>
		<OutputExchangeItem>
			<ElementSet>
				<ID>San Marcos Basin</ID>
				<Description>San Marcos Basin, TX </Description>
				<Version>1</Version>
			</ElementSet>
			<Quantity>
				<ID>Nutrient Load</ID>
				<Description>Nutrient Loading in Kilograms per Day</Description>
				<Dimensions>
					<Dimension>
						<Base>Mass</Base>
						<Power>1</Power>
					</Dimension>
					<Dimension>
						<Base>Time</Base>
						<Power>-1</Power>
					</Dimension>
				</Dimensions>
				<Unit>
					<ID>kg/day</ID>
					<Description>Kilograms per Day</Description>
					<ConversionFactorToSI>0.00001157</ConversionFactorToSI>
					<OffSetToSI>0</OffSetToSI>
				</Unit>
				<ValueType>Scalar</ValueType>
			</Quantity>
		</OutputExchangeItem>
		<InputExchangeItem>
			<ElementSet>
				<ID>San Marcos Basin</ID>
				<Description>San Marcos Basin, TX </Description>
				<Version>1</Version>
			</ElementSet>
			<Quantity>
				<ID>Nutrient Concentration</ID>
				<Description>Nutrient Concentration in Kg/M3</Description>
				<Dimensions>
					<Dimension>
						<Base>1</Base>
						<Power>Mass</Power>
					</Dimension>
					<Dimension>
						<Base>-3</Base>
						<Power>Length</Power>
					</Dimension>
				</Dimensions>
				<Unit>
					<ID>mg/l</ID>
					<Description>Kilograms per cubic meter</Description>
					<ConversionFactorToSI>1</ConversionFactorToSI>
					<OffSetToSI>0</OffSetToSI>
				</Unit>
				<ValueType>Scalar</ValueType>
			</Quantity>
		</InputExchangeItem>
		<InputExchangeItem>
			<ElementSet>
				<ID>San Marcos Basin</ID>
				<Description>San Marcos Basin, TX </Description>
				<Version>1</Version>
			</ElementSet>
			<Quantity>
				<ID>Discharge</ID>
				<Description>Streamflow Discharge in Meters Feet per Second</Description>
				<Dimensions>
					<Dimension>
						<Base>3</Base>
						<Power>Length</Power>
					</Dimension>
					<Dimension>
						<Base>-1</Base>
						<Power>Time</Power>
					</Dimension>
				</Dimensions>
				<Unit>
					<ID>m^3/s</ID>
					<Description>Cubic Meters per Second</Description>
					<ConversionFactorToSI>1</ConversionFactorToSI>
					<OffSetToSI>0</OffSetToSI>
				</Unit>
				<ValueType>Scalar</ValueType>
			</Quantity>
		</InputExchangeItem>
	</ExchangeItems>
	<TimeHorizon>
		<StartDateTime>01/15/1975 12:00:00AM </StartDateTime>
		<TimeStepInSeconds>2592000</TimeStepInSeconds>
	</TimeHorizon>
	</Configuration>
