<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HydroDesktop.Configuration.Properties.Settings>
            <setting name="NewDataRepositoryName" serializeAs="String">
                <value>new1.sqlite</value>
            </setting>
            <setting name="NewMetadataCacheName" serializeAs="String">
                <value>new1_metadatacache.sqlite</value>
            </setting>
            <setting name="NewProjectFileName" serializeAs="String">
                <value>new1.dspx</value>
            </setting>
            <setting name="RecentProjectFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DownloadOption" serializeAs="String">
                <value>Append</value>
            </setting>
        </HydroDesktop.Configuration.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HydroDesktop.Configuration.Properties.Settings>
            <setting name="TempDirectoryName" serializeAs="String">
                <value>HydroDesktop</value>
            </setting>
            <setting name="AppDataDirectoryName" serializeAs="String">
                <value>HydroDesktop</value>
            </setting>
            <setting name="OVERWRITE_OPTIONS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Append</string>
                        <string>Overwrite</string>
                        <string>Fill</string>
                        <string>Copy</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SampleProjectsDirectory" serializeAs="String">
                <value>Sample Projects</value>
            </setting>
            <setting name="DefaultProjectFileName" serializeAs="String">
                <value>projects\default\default.hdprj</value>
            </setting>
            <setting name="DefaultDatabaseFileName" serializeAs="String">
                <value>projects\default\default.sqlite</value>
            </setting>
            <setting name="DefaultBaseMapDirectory" serializeAs="String">
                <value>Maps\BaseData</value>
            </setting>
            <setting name="DefaultMetadataCacheFileName" serializeAs="String">
                <value>MetadataCache.sqlite</value>
            </setting>
        </HydroDesktop.Configuration.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
