<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Data" version="1.1" />
  <package id="DotSpatial.Extensions" version="1.1.1-alpha" />
  <package id="DotSpatial.Projections" version="1.1" />
  <package id="DotSpatial.Serialization" version="1.1" />
  <package id="DotSpatial.Topology" version="1.1" />
</packages>