<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Plugins.MainPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Plugins.MainPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HydroDesktop.Plugins.MainPlugin.Properties.Settings>
            <setting name="QuickStartGuideName" serializeAs="String">
                <value>HydroDesktop_Quick_Start_Guide_1.5.pdf</value>
            </setting>
            <setting name="SampleProjectsDirectory" serializeAs="String">
                <value>hydrodesktop_sample_projects</value>
            </setting>
        </HydroDesktop.Plugins.MainPlugin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <HydroDesktop.Plugins.MainPlugin.Properties.Settings>
            <setting name="IsWelcomeScreenDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="remoteHelpUri" serializeAs="String">
                <value>http://userguide.hydrodesktop.org</value>
            </setting>
            <setting name="localHelpUri" serializeAs="String">
                <value>HydroDesktop User Guide.pdf</value>
            </setting>
            <setting name="quickStartUri" serializeAs="String">
                <value>http://quickstart.hydrodesktop.org</value>
            </setting>
        </HydroDesktop.Plugins.MainPlugin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Extensions" publicKeyToken="4d9e49339a7d240c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Controls" publicKeyToken="4d9e49339a7d240c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Data" publicKeyToken="c29dbf30e059ca9d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Modeling.Forms" publicKeyToken="712bef29a31a9354" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Symbology" publicKeyToken="6178c08da7998387" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
