<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FetchBasemap.Resources.Services" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FetchBasemap.Resources.Plugin" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FetchBasemap.Resources.Services>
            <setting name="List" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bing Street Map,http://tiles.virtualearth.net/tiles/r{key}.png?g=461&amp;mkt=en-us,19</string>
                        <string>Bing Aerial Map,http://tiles.virtualearth.net/tiles/h{key}.jpeg?g=461&amp;mkt=en-us&amp;n=z,19</string>
                        <string>ESRI Hydro Base Map,http://bmproto.esri.com/ArcGIS/rest/services/Hydro/HydroBase2009/MapServer/tile/{zoom}/{y}/{x},11</string>
                        <string>ESRI World Street Map,http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{zoom}/{y}/{x},17</string>
                        <string>ESRI World Imagery,http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{zoom}/{y}/{x},15</string>
                        <string>ESRI World Topo,http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{zoom}/{y}/{x},19</string>
                        <string>OpenStreetMap,http://tile.openstreetmap.org/{zoom}/{x}/{y}.png,18</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FetchBasemap.Resources.Services>
        <FetchBasemap.Resources.Plugin>
            <setting name="ServiceURLList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://bmproto.esri.com/ArcGIS/rest/services/Hydro/HydroBase2009/MapServer/export</string>
                        <string>http://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/export</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServiceNameList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Hydro Base Map</string>
                        <string>World Physical Map</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FetchBasemap.Resources.Plugin>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
