<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HydroDesktop.Plugins.HelpTab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HydroDesktop.Plugins.HelpTab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HydroDesktop.Plugins.HelpTab.Properties.Settings>
            <setting name="remoteHelpUri" serializeAs="String">
                <value>http://userguide.hydrodesktop.org</value>
            </setting>
            <setting name="discussionForumUri" serializeAs="String">
                <value>http://hydrodesktop.codeplex.com/discussions</value>
            </setting>
            <setting name="issueTrackerUri" serializeAs="String">
                <value>http://hydrodesktop.codeplex.com/workitem/list/basic</value>
            </setting>
            <setting name="hisCommentUri" serializeAs="String">
                <value>https://www.cuahsi.org/Contact</value>
            </setting>
            <setting name="commentMailtoLink" serializeAs="String">
                <value>mailto:questions@cuahsi.org?subject=HydroDesktop&amp;body=Dear CUAHSI User Support Specialist,%0A%0A</value>
            </setting>
            <setting name="quickStartUri" serializeAs="String">
                <value>http://quickstart.hydrodesktop.org</value>
            </setting>
        </HydroDesktop.Plugins.HelpTab.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <HydroDesktop.Plugins.HelpTab.Properties.Settings>
            <setting name="localHelpUri" serializeAs="String">
                <value>HydroDesktop User Guide.pdf</value>
            </setting>
            <setting name="QuickStartGuideName" serializeAs="String">
                <value>HydroDesktop_Quick_Start_Guide_1.5.pdf</value>
            </setting>
        </HydroDesktop.Plugins.HelpTab.Properties.Settings>
    </applicationSettings>
</configuration>
