|| Bugs/Issues on Version 1.0 Beta RC9 || Id # on Issue Tracker || Status on Version 1.1 Beta RC6 ||
| Doesn't download the entire my selection | 7096 | Didn't resolve |
| Minimize/Maximize screen issue | 7097 | Didn't resolve |
| On the result page, there are empty white space | 7098 | Fixed |
| Orb menu doesn't disappear if I don't select any | 7099 | Fixed |
| Search Management incomplete functionality | 7105 | Fixed |
| "Refresh" theme is not working | 7106 | Fixed |