<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeostatisticalTool" source="http://www.myget.org/F/dotspatial/api/v2/package" version="0.1.0.3" target="../Binaries/Plugins/GeostatisticalTool" />  
  <package id="DotSpatial.Plugins.ExtensionManager" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.1119" target="../Binaries/Application Extensions" />  
  <package id="DotSpatial.Plugins.MenuBar" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.1119" target="../Binaries/Application Extensions" />
  <package id="DotSpatial.Plugins.WebMap" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.1119" target="../Binaries/Plugins/WebMap" />  
  <package id="DotSpatial.Plugins.AttributeDataExplorer" source="http://www.myget.org/F/dotspatial/api/v2/package" version="0.12.4.2" target="../Binaries/Plugins/AttributeDataExplorer" />
  <package id="DotSpatial.Plugins.Ribbon" source="http://www.myget.org/F/dotspatial/api/v2/package" version="0.12.2.10" target="../Binaries/Application Extensions" />
  <package id="DotSpatial.Plugins.SplashScreenManager" source="http://www.myget.org/F/dotspatial/api/v2/package" version="0.12.2.10" target="../Binaries/Application Extensions" />
  <package id="HydroDesktop.Maps" version="1.4.0.0" source="http://www.myget.org/F/hydrodesktop/api/v2/package" target="../Binaries/Maps/BaseData" />
</packages>