<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="1.2.10" target="Packages/log4net.1.2.10" />
  <package id="NUnit" version="2.5.9.10348" target="Packages/NUnit.2.5.9.10348" /> 
  <package id="DotSpatial_x86" version="1.0.888" source="http://hydro10.sdsc.edu/nuget/Packages" target="../Binaries" />
  
  <package id="DotSpatial.Plugins.WebMap" 
  source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.888" target="../Binaries/Plugins/WebMap" />
  
  <package id="DotSpatial.Plugins.ExtensionManager" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.888" target="../Binaries/Application Extensions" />
  
 <package id="DotSpatial.Plugins.MenuBar" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.888" target="../Binaries/Application Extensions" />
 
 <package id="DotSpatial.Plugins.TableEditor" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.888" target="../Binaries/Application Extensions" />
  
  <package id="DotSpatial.Plugins.Ribbon" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.0.3" target="../Binaries/Application Extensions" />
  
    <package id="DotSpatial.Plugins.SplashScreenManager" source="http://www.myget.org/F/dotspatial/api/v2/package" version="1.0.0.3" target="../Binaries/Application Extensions" />
  
  <package id="HydroDesktop_MapWindow6" version="1.0.845" source="http://hydro10.sdsc.edu/nuget/Packages" target="../Binaries" />
  
  <package id="HydroDesktop_Maps" version="1.0.845" source="http://hydro10.sdsc.edu/nuget/Packages" target="../Binaries/Maps/BaseData" />


</packages>