<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="1.2.10" target="Packages/log4net.1.2.10" />
  <package id="NUnit" version="2.5.9.10348" target="Packages/NUnit.2.5.9.10348" />
  
  <package id="DotSpatial_x86" version="1.0.790" source="http://hydro10.sdsc.edu/nuget/Packages" target="../Binaries" />
  
  <package id="DotSpatial.Plugins.WebMap" version="1.0.785" source="http://www.myget.org/F/DotSpatial/Download/Package" target="../Binaries/Plugins/WebMap" />
  
  <package id="DotSpatial.ApplicationExtensions" version="1.0.754" source="http://www.myget.org/F/hydrodesktop/Download/Package" target="../Binaries/Application Extensions" />
  
  <!--
  <package id="MapWindow6" version="1.0.785" source="http://www.myget.org/F/hydrodesktop/Download/Package" target="../Binaries" />
  -->
  
  <package id="HydroDesktopMaps" version="1.3.0" source="http://www.myget.org/F/hydrodesktop/Download/Package/" target="../Binaries/Maps/BaseData" />
</packages>